# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (NUNCA subir esto)
server/.env
client/.env
client/.env.local

# Build
client/dist/
server/dist/

# Prisma
server/prisma/migrations/

# OS
.DS_Store
Thumbs.db